// Flex generator
@mixin flexGen($direction, $wrap, $justify, $align) {
  display: flex !important;
  flex-flow: $direction $wrap !important;
  justify-content: $justify !important;
  align-items: $align !important;
}

// Grid Generator
@mixin gridGen($columns, $rows, $row-gap, $column-gap) {
  display: grid !important;
  grid-template-columns: $columns !important;
  grid-template-rows: $rows;
  row-gap: $row-gap;
  column-gap: $column-gap;
}
